body{
    font-family: "Trebuchet MS", sans-serif;
    margin: 50px;

}
form {
    display:flex;
    flex-direction: column;
    gap:20px;
}
label {
    width:220px;
}
input {
    padding:4px;
    border-radius: 4px;
}
.container {
    display:flex;
    gap:20px;
}
button {
    width:100px;
}

input:required:invalid, input:focus:invalid {
    /*
    background-image: url(/images/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
    */
    border:1px solid red;
    box-shadow: 1px 0px 15px -6px #FF0000;
  }